<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bank_application">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:name=".databaseIP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bank_Application">
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_activity" />
        <activity android:name=".register_email_activity" />
        <activity android:name=".register_id_activity" />
        <activity android:name=".register_info_activity" />
        <activity android:name=".register_pw_activity" />
        <activity android:name=".found_pw_activity" />
        <activity android:name=".found_id_activity" />
        <activity android:name=".home_nav_activity" />
        <activity android:name=".profile_activity" />
        <activity android:name=".remittance_activity"/>
        <activity android:name=".remittance_amount_activity"/>
        <activity android:name=".remittance_check_activity"/>
        <activity android:name=".remittance_pwCheck_activity"/>
    </application>

</manifest>